/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
  }
  
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */

  /* Top Of The Page 
  ------------------------------------------------ */

  .page-top {
    padding-bottom: 23rem;
    padding-top: 3rem;
  }

  .page-top-subheader {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
  }

  .page-top-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem
  }

  .page-top-text {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1rem;
  }

  /* projects
  --------------------------------------------------*/

  .my-work {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  /* scroll */  
  